html,
body,
h1,
h2,
h3,
p,
blockquote,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 17.4pt;
}

h1,
h2,
h3 {
    font-variant-numeric: lining-nums;
    font-feature-settings: "onum" 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    color: #212121;
    position: relative;
}

h1 span,
h2 span,
h3 span {
    text-transform: lowercase;
}

ul,
p {
    font-variant-ligatures: common-ligatures;
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "liga", "clig", "onum";
    margin-bottom: 1.4em;
    line-height: 1.4;
}

.page {
    padding: 0 12px;
}

.frame {
    padding-bottom: 3em;
    position: relative;
}

.antiqua {
    font-weight: bold;
}

.page-inner {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.section {
    max-width: 640px;
}

.section aside {
    font-size: 80%;
    max-width: 200px;
    position: absolute;
    right: 0;
}

.section aside svg {
    width: 18px;
    vertical-align: -.35em;
    margin-right: 2px;
}

.table a,
.section a {
    background-image: linear-gradient(gray, gray);
    background-image: linear-gradient(136deg, #00C4CC 0%, #7D2AE8 100%);
    background-position: 0 1.2em;
    background-size: 100% 1px;
    background-repeat: repeat-x;
    text-decoration: none;
    color: #000;
}

.table a:hover,
.section a:hover {
    background-image: linear-gradient(#eb3349, #f45c43);
    background-size: 2px 2px;
}

.section h1 a,
.section h2 a,
.section h3 a {
    background: none;
    text-shadow: none;
    color: #212121;
}

.section h1 a:hover,
.section h2 a:hover,
.section h3 a:hover {
    background: none;
    color: #eb3349;
}

.table {
    border-collapse: collapse;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.table th {
    text-transform: uppercase;
    padding: 1em .5em;
    text-align: center;
    font-size: .9em;
}

.table th span {
    display: block;
    text-transform: none;
    font-weight: normal;
}

.table td {
    padding: .2em .6em;
}

.table th,
.table td {
    border-bottom: 1px solid #000;
    /*vertical-align: top;*/
}

.cell-dotted {
    border-bottom: 1px dotted #000 !important;
}

.table tr:first-child th:first-child {
    padding: 1em .5em;
    text-align: center;
}

.table th:first-child {
    text-align: left;
}

.table-token tr:first-child th:first-child {
    text-align: left;
}

.table-token th {
    vertical-align: middle;
}

.table-token td {
    padding-top: 1em;
    padding-bottom: 1em;
}

.cell-number {
    text-align: right;
}

.cell-center {
    text-align: center;
}

.page h1 {
    line-height: 1.2;
    font-weight: 800;
    font-size: 140%;
    margin: 2em 0 .88em -0.02em;
}

.page h2 {
    font-size: 100%;
    line-height: 1.2;
    font-weight: 800;
    margin: 2em 0 .88em -0.02em;
}

.page blockquote {
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga", "clig", "swsh";
    border-left: 1px solid #b3b3b3;
    font-style: italic;
    margin: 2.5em 0 2.5em 2.14em;
    padding-left: 1em;
}

.page ul {
    list-style-type: circle;
    margin-left: 2.32em;
    margin-bottom: 1.4em;
    padding: 0;
}

.page li {
    margin: 0;
    padding: 0;
}

.frame-top {
    background: url(images/frame-top.jpg) 50% 0 repeat-x;
    background-size: 2100px;
    height: 240px;
}

.frame-bottom {
    background: url(images/frame-bottom.jpg) 50% 100% repeat-x;
    background-size: 2100px;
    height: 230px;
}

.line {
    height: 6px;
    background: #00c4cc;
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
}

.g-yellow {
    background: #ffcc33;
    background: linear-gradient(to right, #ffb347, #ffcc33);
}

.g-yellow .section a {
    text-shadow: 0.04545em 0 0 #ffba42, 0.09091em 0 0 #ffba42, 0.13636em 0 0 #ffba42, -0.04545em 0 0 #ffba42, -0.09091em 0 0 #ffba42, -0.13636em 0 0 #ffba42, 0 0.04545em 0 #ffba42, 0 0.09091em 0 #ffba42, 0 -0.04545em 0 #ffba42, 0 -0.09091em 0 #ffba42;
}

.g-yellow .introduction a {
    background-image: linear-gradient(#212121, #212121);
}

.g-yellow .introduction a:hover {
    background-image: linear-gradient(#eb3349, #f45c43);
}

.g-white {
    background: #fdfdfd;
}

.g-white a {
    text-shadow: 0.04545em 0 0 #fff, 0.09091em 0 0 #fff, 0.13636em 0 0 #fff, -0.04545em 0 0 #fff, -0.09091em 0 0 #fff, -0.13636em 0 0 #fff, 0 0.04545em 0 #fff, 0 0.09091em 0 #fff, 0 -0.04545em 0 #fff, 0 -0.09091em 0 #fff;
}

.g-black-white a {
    text-shadow: 0.04545em 0 0 #232526, 0.09091em 0 0 #232526, 0.13636em 0 0 #232526, -0.04545em 0 0 #232526, -0.09091em 0 0 #232526, -0.13636em 0 0 #232526, 0 0.04545em 0 #232526, 0 0.09091em 0 #232526, 0 -0.04545em 0 #232526, 0 -0.09091em 0 #232526;
}

::selection {
    background: #00C4CC;
    color: #fff;
}

.g-yellow .section a::selection,
.g-white a::selection,
.g-black-white a::selection {
    text-shadow: none;
}

.g-black-white,
.g-black {
    background: #000;
    background: linear-gradient(to right, #000, #232526);
    color: #ffcc00;
}

.g-black a,
.g-black h1,
.g-black h2,
.g-black h3,
.g-black h1 a,
.g-black h2 a,
.g-black h3 a {
    color: #ffcc00;
}

.g-black-white ul {
    color: #ffcc00;
}

.g-black-white,
.g-black-white a,
.g-black-white ul span,
    /*.g-black-white blockquote ul,*/
.g-black-white h1,
.g-black-white h2,
.g-black-white h3,
.g-black-white h1 a,
.g-black-white h2 a,
.g-black-white h3 a {
    color: #ededed;
}

.g-black-white .table {
    border-top-color: #b3b3b3;
    border-bottom-color: #b3b3b3;
}

.g-black-white .table th,
.g-black-white .table td {
    border-bottom-color: #b3b3b3;
    color: #ededed;
}

.g-black-white path {
    fill: #ededed;
}

.g-grey {
    background: #ededed;
    background: linear-gradient(to right, #ededed, #ece9e6);
}

.footer {
    font-size: .8em;
    /*padding-top: 1.2em;*/
    padding-bottom: 3.2em;
    color: #ededed;
    position: relative;
}

.social {
    float: right;
}

.social ul,
.social li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.social a path {
    fill: #ededed;
}

.social a:hover path {
    fill: #eb3349;
}

.logo,
.logo-fixed {
    display: block;
    background: url(images/papereum.svg) 0 20px no-repeat;
    background-size: 100%;
    width: 128px;
    transition: all .3s ease;
    cursor: pointer;
}

.logo {
    height: 200px;
    position: absolute;
    top: -46px;
    left: 0;
}

.logo:hover {
    top: 4px;
}

.introduction h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 -0.02em;
    line-height: 1.125;
    font-weight: 700;
    font-size: 250%;
    letter-spacing: -0.015em;
    padding-bottom: .05em;
    text-transform: none;
}

.introduction h2 {
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    letter-spacing: -0.02em;
    word-spacing: -0.05em;
    color: #444;
    padding: 0 0 1.6em;
    margin: 0;
    text-transform: none;
}

.introduction ul,
.introduction li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.introduction ul {
    margin-left: 1.3em;
}

.introduction li {
    line-height: 1.5em;
}

.introduction a {
    color: #000;
}

.introduction a svg {
    margin-left: -1.3em;
    vertical-align: -.2em;
}

.introduction a svg path {
    fill: #000;
}

.header-columns {
    display: flex;
    justify-content: space-between;
    padding-top: 5.5em;
}

.header-text {
    font-size: 14.3pt;
    margin: 3em 0 -2em;
}

.form {
    width: 300px;
    height: 485px;

    background: black;
    color: #ededed;

    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

    overflow: hidden;
}

.form-body {
    padding: .8em 1em;
}

.form-line {
    background: #00c4cc;
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
    height: 1px;
}

.form-border {
    background: #00c4cc;
    background-image: linear-gradient(139deg, #00C4CC 0%, #7D2AE8 100%);
    height: 6px;
}

.form-header b {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 150%;
}

.form-header span {
    font-size: 75%;
    display: block;
    margin-top: -.3em;
}

.times {
    display: flex;
    justify-content: space-between;
    padding: .8em 0 1.2em;
}

.buttons {
    padding: 1em 0 1em;
    text-align: center;
}

.buttons form {
    margin: 0;
    padding: 0;
}

.buttons input {
    margin: 0 0 1em;
    font: 600 12pt 'Open Sans', sans-serif;
    border: none;
    border-bottom: 2px solid #b3b3b3;
    background: #232526;
    color: #fff;
    padding: .5em .5em;
    width: 90%;
    box-sizing: border-box;
}

.buttons input:focus,
.buttons input:hover {
    background: #232526;
    border-bottom-color: #ffcc33;
    outline: none;
}

.buttons input[disabled] {
    background: #ffcc33;
    color: black;
}

.buttons button {
    margin: 0;
    padding: .8em 1.2em;
    border-radius: .2em;
    cursor: pointer;
    background: transparent;
    color: #ffcc33;
    border: 2px solid #ffcc33;
    /*box-shadow: 0 10px 50px rgba(255, 255, 255, 0.5);*/

    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 800;

    display: inline-block;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;

}

.buttons button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.buttons button:hover {
    box-shadow: none;
    border-bottom: 2px solid #ffb347;
    background-color: #ffcc33;
    text-shadow: -1px -1px 0 #f3aa44;
    color: #fff;
}

.buttons button:hover:before {
    left: 2.5em;
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}

.buttons p {
    margin-bottom: .2em;
    display: none;
}

.buttons .submitted input,
.buttons .submitted button {
    display: none;
}

.buttons .submitted p {
    display: block;
}

.buttons input.error {
    border-bottom-color: #eb3349;
}

.times-item {
    text-align: center;
    width: 22%;
}

.times-item b,
.times-item span {
    display: block;
}

.times-item b {
    font-size: 150%;
    color: #ffcc33;
}

.times-item span {
    font-size: 75%;
    margin-top: -.2em;
    color: #b3b3b3;
}

.times-dot {
    text-align: center;
    font-size: 130%;
    width: 4%;
}

.tokens {
    padding: .5em 0;
    text-align: center;
}

.tokens b {
    font-weight: 400;
    font-size: 250%;
}

.tokens svg {
    cursor: text;
}

.tokens path {
    fill: #ededed;
}

.tokens span {
    font-size: 75%;
    display: block;
    margin-top: -.5em;
    color: #b3b3b3;
}

.figure {
    margin: 1em 2em 1.5em;
    padding: 2em 0;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    text-align: center;
}

.timeline a,
.timeline a:hover {
    background: none;
    padding-bottom: 0;
}

@media (max-width: 860px) {
    .section aside {
        position: relative;
        padding-bottom: 2em;
    }

    .header-columns {
        display: block;
    }

    .form {
        width: auto;
        max-width: 400px;
        margin: 2em auto;
    }

    .page blockquote {
        margin-left: 0;
    }

    .page ul {
        margin-left: 1em;
    }
}
